@import "tailwindcss";

@theme {
  --color-zinc-50: #fafafa;
  --color-zinc-100: #f4f4f5;
  --color-zinc-200: #e4e4e7;
  --color-zinc-300: #d4d4d8;
  --color-zinc-400: #a1a1aa;
  --color-zinc-500: #71717a;
  --color-zinc-600: #52525b;
  --color-zinc-700: #3f3f46;
  --color-zinc-800: #27272a;
  --color-zinc-900: #18181b;
  --color-amber-400: #fbbf24;
  --color-amber-500: #f59e0b;
  --color-orange-500: #f97316;
  --color-orange-600: #ea580c;
  --color-emerald-400: #34d399;
  --color-emerald-500: #10b981;
  --color-violet-500: #8b5cf6;
  --color-purple-600: #9333ea;
}